<%- include('../partials/head') %> <%# this way you include static files and render them along them dynamic pages %>
<%- include('../partials/header') %>

<h1 style="text-align: center">Hello, <%= user.Fname +  " " +  user.Lname %> </h1>

<%- include('../partials/footer') %>
